:root {
	--card-width: 13em;
	--card-height: 20em;
}

.aktive-card {
	border-color: green;
	border-width: thick;
}

.flipped {
	background-image: url("/img.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.card {
	width: var(--card-width);
	height: var(--card-height);
	color: black;
	background-color: white;
	/* text-align: left; */
}

body {
	display: grid;
	justify-content: center;
	align-items: center;
	gap: 0.125em;
	grid-template-rows: repeat(2, var(--card-height));
	grid-template-columns: repeat(7, var(--card-width));
}

img {
	width: 200px;
	height: 300px;
	object-fit: contain;
}
