:root {
	--card-width: 13em;
	--card-height: 20em;
}

.aktive-card {
	background-image: url("/fliped.png");
	background-size: contain;
	border-color: green;
	border-width: thick;
	font-weight: bold;
}

.flipped {
	background-image: url("/front.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.card {
	width: var(--card-width);
	height: var(--card-height);
	color: black;
	background-color: white;
	/* text-align: left; */
}

.card:focus-visible {
	scale: 1.2;
	border: #ff7700;
}

.card:hover {
	scale: 1.2;
}

body {
	display: grid;
	justify-content: center;
	align-items: center;
	gap: 0.125em;
	grid-template-rows: repeat(2, var(--card-height));
	grid-template-columns: repeat(7, var(--card-width));
	background-color: #46484f;
}

img {
	width: 200px;
	height: 300px;
	object-fit: contain;
}

button {
	background-color: black;
	background-repeat:no-repeat;
	outline:none;
	border: none;
}

span { padding: 10px;
	color: #ff7700;
}

button span {
	display: inline-block;
	text-align: left;
	/* border: 2px solid black; */
}
